.formulario{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    margin: 0px 500px;
}

.titulo1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.navegacionFormulario{
    text-decoration: none;
    color: black;
  }

.body{
    background-color: gainsboro;
}

.header{
    background-color: white;
}
.fondo{
    background-color: white;
    margin: 0px 100px;
}

#footer{
    background-color: black;
}

.footer{
    margin: 2% 15%

}

